* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
nav {
  height: 90px;
  display: flex;
  padding: 5px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 500px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}
.katieperry--img {
  align-items: center;
}
.katieperry--img {
  background: white;
  align-items: baseline;
}
.Card--star {
  height: 20px;
}
